<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.networkdisk.repository.FileDetailRepository">
    <!-- 查询文件请求，根据父文件id和文件类型进行查询   -->
    <select id="selectByParentid" parameterType="String" resultType="FileDetail">
        select *
        from filedetailtable
        where parentid = #{parentid}
    </select>

    <select id="selectByFileid" parameterType="String" resultType="FileDetail">
        select *
        from filedetailtable
        where fileid = #{fileid}
    </select>

    <!-- 插入新文件信息   -->
    <insert id="insertFileDetail" parameterType="FileDetail">
        insert into filedetailtable value (#{fileid}, #{parentid}, #{name}, #{time}, #{style}, #{size})
    </insert>

    <update id="updateSizeByFileid" parameterType="Map">
        update filedetailtable set size = #{size} where fileid = #{fileid}
    </update>

    <update id="updateNamebyFileid" parameterType="Map">
        update filedetailtable set name = #{name} where fileid = #{fileid}
    </update>

    <delete id="deleteFileDetailByFieid" parameterType="String">
        delete from filedetailtable where fileid = #{fileid}
    </delete>
</mapper>