<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.networkdisk.repository.UserRepository">
    <!-- 处理查询请求，根据用户邮箱进行查询   -->
    <select id="selectUserByEmail" parameterType="String" resultType="BUser">
        select * from usertable where email = #{email}
    </select>

    <!-- 处理查询请求，根据用户id进行查询   -->
    <select id="selectUserById" parameterType="String" resultType="BUser">
        select * from usertable where id = #{id}
    </select>

    <!-- 处理增加请求，插入用户信息   -->
    <insert id="insertUser" parameterType="User">
        insert into usertable value(#{id}, #{email}, #{pwd}, #{name})
    </insert>

    <!-- 处理删除请求，删除用户信息   -->
    <delete id="deleteUser" parameterType="User">
        delete from usertable where id = #{id}
    </delete>
</mapper>