<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function refreshCode(){
            document.getElementById("validateCodeImg").src = [[@{/validateCode}]] + "?t=" + Math.random();
        }
    </script>
</head>
<div class="container" style="margin-top: 95px;margin-bottom: 95px;">
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <h1>
                欢迎注册
            </h1>
            <p class="help-block" style="display:inline;">
                已有账号？
            </p>
            <a th:href="@{/toLogin}">登录</a>
            <form role="form" method="post" th:object="${bUser}" th:action="@{/user/userRegister}">
                <div class="form-group" style="margin-top: 15px;">
                    <label for="inputEmail" style="font-size: 15px">邮箱 Email</label>
                    <input class="form-control" id="inputEmail" type="email" th:field="*{email}" placeholder="请输入邮箱"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword" style="font-size: 15px">密码 Password</label>
                    <input class="form-control" id="inputPassword" type="password" th:field="*{pwd}" placeholder="请输入密码，6~20位，仅限字母和数字，字母不区分大小写"/>
                </div>
                <div class="form-group">
                    <label for="validateCode" style="font-size: 15px; display: block;">验证码</label>
                    <input class="form-control" id="validateCode" type="text" th:field="*{validateCode}" placeholder="请输入验证码" style="display: inline;width: auto;"/>
                    <img alt="验证码" th:src="@{/validateCode}" id="validateCodeImg" style="height: 34px;margin-left: 15px;">
                    <a class="help-block" href="javascript:refreshCode()" style="display: inline;font-size: 12px;margin-left: 15px;">看不清换一张</a>
                </div>
                <button class="btn btn-default" type="submit" style="border-left-width: 20px;font-size: 15px;">注册 Register</button>
            </form>
            <dl style="margin-top: 15px">
                <dt>
                    本系统制作者：
                </dt>
                <dd>
                    2020b11046、2020b11047、202011054
                </dd>
                <dt>
                    如果使用过程中任何意见都可以联系作者。
                </dt>
            </dl>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>
</html>